<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>
<p>Welcome to <%= title %></p>
<main class="container">
<div class="row">
    <div class="col-md-offset-3">
        <h1><%= title %></h1>
        <%if(typeof displayName =='string' && displayName){%>
        <a href="/bookList/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Book</a>
            <%}%>
        <br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <%if(typeof displayName =='string' && displayName){%>
                <th class="text-content col-2">Title</th>
                <th class="text-content col-1">Author</th>
                <th class="text-content col-1">Year</th>
                <th class="col-3">Description</th>
                <th class="text-content col-1">Price</th>               
                <th class="text-content col-1">Rating</th>               
                <th class="col-3">Comments</th>
                <th class="col-3">Add Comment</th>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                <%}else{%>
                <th class="text-content col-2">Title</th>
                <th class="text-content col-1">Author</th>
                <th class="text-content col-1">Year</th>
                <th class="col-3">Description</th>
                <th class="text-content col-1">Price</th>
                <th class="text-content col-1">Rating</th>
                <th class="col-3">Comments</th>
                <th class="col-3">Add Comment</th>
                <%}%>
                </tr>
           <% for(let count = 0; count<BookList.length; count++){ %>
            <tr>
                <%if(typeof displayName =='string' && displayName){%>
                <td class = "text-center col-2"><%=BookList[count].name%></td>
                <td class = "text-center col-1"><%=BookList[count].author%></td>
                <td class = "text-center col-1"><%=BookList[count].published%></td>
                <td class = "col-3"><%=BookList[count].description%></td>
                <td class = "text-center col-1"><%=BookList[count].price%></td>
                <td class = "col-1">
                    <% for(let count1 = 0; count1<BookList[count].rating; count1++){ %>
                         <img src="/Assets/images/star.png" alt="Star" class="star" />    
                    <%}%>
                </td>    
                <td class = "col-3"><pre><%= BookList[count].comments %></pre></td>
                <td>
                    <form action="/bookList/comment/<%=BookList[count]._id%>" method="POST">
                        <input type="text" name="comment" placeholder="Add a comment">
                        <input type="submit" value="Submit">
                    </form>
                </td>                
                <td class ="text-center col-1"><a href="/bookList/edit/<%=BookList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td class ="text-center col-1"><a href="/bookList/delete/<%=BookList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>    
            <%}else{%>
                <td class = "text-center col-2"><%=BookList[count].name%></td>
                <td class = "text-center col-1"><%=BookList[count].author%></td>
                <td class = "text-center col-1"><%=BookList[count].published%></td>
                <td class = "col-3"><%=BookList[count].description%></td>
                <td class = "text-center col-1"><%=BookList[count].price%></td>
                <td class = "col-1">
                    <% for(let count1 = 0; count1<BookList[count].rating; count1++){ %>
                         <img src="/Assets/images/star.png" alt="Star" class="star" />    
                    <%}%>
                </td>
                <td class = "col-3"><pre><%= BookList[count].comments %></pre></td>
                <td>
                    <form action="/bookList/comment/<%=BookList[count]._id%>" method="POST">
                        <input type="text" name="comment" placeholder="Add a comment">
                        <input type="submit" value="Submit">
                    </form>
                </td>                
            <%}%>
            </tr>
                <%}%>
            </table>

        </div>
    </div>
    </main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>
